# Environment variables
.env
.env.local
.env.production
.env.*.local

# Dependencies
node_modules/
# dist/

# Logs
logs/
*.log
*.pem
unite-key.pem
Tushar_accessKeys (1).csv
twilio_2FA_recovery_code.txt